@charset "UTF-8";
.btn {
  background: #00B5B0;
  font-family: Helvetica;
  width: 138px;
  height: 31px;
  line-height: 31px;
  border-radius: 41px;
  display: inline-block;
  text-align: center;
  color: #fff;
}

.inner {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.section__container {
  max-width: 128rem;
  padding: 0 1rem;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

html {
  font-size: 62.5%;
  color: #5C5C5C;
}

.section__ttl {
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 1.4666;
  letter-spacing: 0.051em;
}

.section__ttl::before, .section__ttl::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  width: 27.7777778%;
  border-top: 1px solid #00B5B0;
}

@media (max-width: 767px) {
  .section__ttl::before, .section__ttl::after {
    width: 7rem;
  }
}

.section__ttl::before {
  left: 0;
}

.section__ttl::after {
  right: 0;
}

header {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  background: #fff;
}

.header__container {
  max-width: 192rem;
  width: 100%;
  height: 6rem;
  padding: 0 10rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header__container {
    padding: 0;
    padding-left: 1.9rem;
    padding-right: 0.6rem;
  }
}

.header_left-img {
  width: 194px;
  height: auto;
}

@media (max-width: 767px) {
  .header_left-img {
    width: 158.42px;
    height: 16.9px;
  }
}

.header__right {
  margin-left: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header__right {
    margin-right: 9px;
  }
}

.header-btn:first-child {
  margin-right: 16px;
  background: #FFAF66;
}

.fv {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .fv {
    padding-top: 71px;
  }
}

.container {
  max-width: 128rem;
  height: 100%;
  padding: 0 10rem;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}

.fv__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 767px) {
  .fv__container {
    display: block;
  }
}

.fv__img-box {
  position: relative;
  z-index: 0;
  width: 50vw;
  height: 67.7rem;
  margin-left: calc(50% - 50.4vw);
  background-color: #36C5C1;
}

.fv__img-box::after {
  content: "";
  position: absolute;
  background: url(../../img/fv-bg.png);
  width: 44.4rem;
  height: 44.4rem;
  top: 56px;
  right: -96.7rem;
}

@media (max-width: 767px) {
  .fv__img-box {
    position: absolute;
    z-index: -1;
    top: -9rem;
    width: 100vw;
    height: 56rem;
    margin: 0;
    background: none;
  }
  .fv__img-box::after {
    content: "";
    position: absolute;
    background: url(../../img/fv-bg-sp.png);
    width: 15.5rem;
    height: 15.5rem;
    right: 0;
    top: 6rem;
  }
}

.fv__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 95.4rem;
  height: 67.7rem;
  background: url(../../img/fv.png) no-repeat center/contain;
}

@media (max-width: 767px) {
  .fv__img {
    width: 100%;
    background: url(../../img/fv-sp.png) no-repeat center/contain;
    background-size: contain;
  }
}

@media (min-width: 376px) {
  .fv__img {
    background-size: cover;
  }
}

.fv__content-box {
  width: 50%;
}

@media (max-width: 767px) {
  .fv__content-box {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    padding-top: 1.8rem;
  }
}

.fv__content {
  padding-top: 152px;
  margin-left: 9.2rem;
}

@media (max-width: 767px) {
  .fv__content {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
}

.ttl__top {
  width: 39rem;
  height: 6.6rem;
  line-height: 6.6rem;
  background: #00B5B0;
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  .ttl__top {
    width: 28.9rem;
    height: 4.9rem;
    line-height: 4.9rem;
    font-size: 2rem;
    margin: 0 auto;
  }
}

.ttl__btm {
  padding-top: 5.2rem;
}

@media (max-width: 767px) {
  .ttl__btm {
    text-align: center;
    padding-top: 2.45rem;
  }
}

.ttl__btm img {
  width: 368.84px;
  height: 47.61px;
}

@media (max-width: 767px) {
  .ttl__btm img {
    width: 27.37rem;
    height: 3.533rem;
  }
}

.fv__catch {
  font-size: 3rem;
  padding-top: 5.1rem;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .fv__catch {
    font-size: 22px;
    text-align: center;
    padding-top: 22px;
    letter-spacing: 1px;
  }
}

.fv__catch span {
  font-size: 2rem;
  letter-spacing: 5px;
}

@media (max-width: 767px) {
  .fv__catch span {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}

.fv__catch p:last-child {
  color: #00B5B0;
  font-size: 5.3rem;
  padding-top: 2rem;
  letter-spacing: 3px;
}

@media (max-width: 767px) {
  .fv__catch p:last-child {
    font-size: 3.9rem;
    padding-top: 12px;
  }
}

@media (max-width: 767px) {
  .fv_btn-box {
    width: 26.6rem;
    margin: 0 auto;
  }
}

.fv__btn {
  width: 35.8rem;
  height: 7.9rem;
  line-height: 7.9rem;
  background: #FFAF66;
  margin-top: 4.7rem;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .fv__btn {
    width: 26.6rem;
    height: 5.9rem;
    line-height: 5.9rem;
    margin-top: 28.8rem;
    font-size: 14px;
  }
}

.about {
  margin-top: 41px;
}

@media (max-width: 767px) {
  .about {
    margin-top: 60px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  background: #fff;
  -webkit-box-shadow: 0 6px 21px #e4f4f3;
          box-shadow: 0 6px 21px #e4f4f3;
}

@media (max-width: 767px) {
  .about__content {
    display: block;
  }
}

.about__content-left {
  width: calc(100% - 36%);
  padding-left: 79px;
  padding-top: 134px;
  padding-bottom: 85px;
}

@media (max-width: 767px) {
  .about__content-left {
    width: 100%;
    padding: 0;
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .about__content-left .about__ttl {
    text-align: center;
  }
}

.about__content-left .about__ttl img {
  max-width: 520px;
  width: 100%;
}

@media (max-width: 767px) {
  .about__content-left .about__ttl img {
    max-width: 305px;
  }
}

.about__content-txt {
  max-width: 520px;
  width: 100%;
  padding-top: 47.5px;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #5C5C5C;
}

@media (max-width: 767px) {
  .about__content-txt {
    margin: auto;
    padding: 0 1rem;
    padding-top: 33.5px;
    line-height: 1.714;
    letter-spacing: 0.09px;
  }
}

.about__content-txt p:last-child {
  padding-top: 33px;
}

@media (max-width: 767px) {
  .about__content-txt p:last-child {
    padding-top: 23px;
  }
}

.about__content-right {
  margin-left: auto;
  margin-top: auto;
  margin-right: 75px;
  max-width: 371px;
  width: 36%;
}

@media (max-width: 767px) {
  .about__content-right {
    margin: auto;
    width: 170px;
    margin-top: 22px;
  }
}

.about__content-right img {
  max-width: 371px;
  width: 100%;
}

.introduce {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .introduce {
    margin-top: 38px;
  }
}

.introduce img {
  width: 100%;
}

.service {
  position: relative;
  margin-top: 146px;
}

@media (max-width: 767px) {
  .service {
    margin-top: 81px;
  }
}

.service::before {
  content: "";
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 91%;
  max-height: 636px;
  height: 100%;
  background: url(../../img/service-bg.png) no-repeat center/contain;
  z-index: -1;
}

@media (max-width: 767px) {
  .service::before {
    width: 64.8rem;
    height: 21rem;
    top: 305px;
    -webkit-transform: translateX(-50%) rotate(75deg);
            transform: translateX(-50%) rotate(75deg);
  }
}

.service__container {
  padding: 0 40px;
}

@media (max-width: 767px) {
  .service__container {
    padding: 0;
  }
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .service__list {
    display: block;
  }
}

.service__list__item {
  position: relative;
  width: 50%;
  padding: 0 4rem;
}

@media (max-width: 767px) {
  .service__list__item {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .service__list__item:last-child {
    margin-top: 60px;
  }
}

.service__list__item:last-child .service__text {
  left: inherit;
  right: 0;
}

.service__img {
  text-align: right;
}

.service__img img {
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
  max-width: 283px;
  width: 100%;
}

@media (max-width: 767px) {
  .service__img img {
    width: 230.71px;
    height: 462.59px;
  }
}

.txt-left {
  text-align: left;
}

.service__text {
  position: absolute;
  bottom: 31px;
  left: 0;
  letter-spacing: 2px;
  font-size: 30px;
  background: #FFB572;
  width: 301px;
  height: 157px;
  border-radius: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.4666;
}

@media (max-width: 767px) {
  .service__text {
    font-size: 24px;
    width: 245.38px;
    height: 127.99px;
    bottom: 26px;
    letter-spacing: 2px;
  }
}

.service__text::before {
  position: absolute;
  content: "";
  width: 271px;
  height: 133px;
  border: 1px solid #fff;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .service__text::before {
    width: 220.92px;
    height: 108.42px;
  }
}

.event {
  padding-top: 87px;
}

@media (max-width: 767px) {
  .event {
    padding-top: 76px;
  }
}

.event__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 61px;
}

@media (max-width: 767px) {
  .event__list {
    display: block;
    padding: 0 1rem;
    margin-top: 38px;
  }
}

.event__item {
  width: 50%;
}

@media (max-width: 767px) {
  .event__item {
    width: 100%;
  }
}

.event__item:first-child {
  margin-right: 40px;
}

@media (max-width: 767px) {
  .event__item:first-child {
    margin-bottom: 31px;
  }
}

.event__item img {
  width: 100%;
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
}

/* event__news
=============================================================*/
.event__news {
  padding-top: 61px;
}

@media (max-width: 767px) {
  .event__news {
    padding: 0 1rem;
    padding-top: 41px;
  }
}

.event__news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.051em;
  padding-bottom: 24px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 14px;
}

@media (max-width: 767px) {
  .event__news__item {
    display: block;
    padding-bottom: 20px;
  }
}

.event__news__item:not(:first-child) {
  padding-top: 22px;
}

@media (max-width: 767px) {
  .event__news__item:not(:first-child) {
    padding-top: 19px;
  }
}

.news__item-tag {
  width: 244px;
  height: 37px;
  line-height: 37px;
  background: #00B5B0;
  color: #fff;
  text-align: center;
  border-radius: 16px;
}

@media (max-width: 767px) {
  .news__item-tag {
    margin: auto;
  }
}

.news__item-day {
  width: 16%;
  text-align: right;
}

@media (max-width: 767px) {
  .news__item-day {
    width: 100%;
    text-align: center;
    padding-top: 24px;
  }
}

.news__item-txt {
  width: calc(100% - 244px - 16%);
  padding-left: 47px;
}

@media (max-width: 767px) {
  .news__item-txt {
    width: 100%;
    padding: 0;
    padding-top: 23px;
    text-align: center;
    line-height: 1.4285;
  }
}

/* recommend
=============================================================*/
.recommend {
  padding-top: 65px;
}

@media (max-width: 767px) {
  .recommend {
    padding-top: 31px;
  }
}

.recommed__item img {
  width: 100%;
}

.feature {
  background: #00B5B0;
  padding-top: 80px;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .feature {
    margin-top: 86px;
  }
}

.feature .section__ttl {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature .section__ttl img {
  width: 33.055556%;
}

@media (max-width: 767px) {
  .feature .section__ttl img {
    width: 218px;
  }
}

.feature .section__ttl::before, .feature .section__ttl::after {
  border-top: 1px solid #fff;
}

.feature__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52px;
}

@media (max-width: 767px) {
  .feature__lists {
    display: block;
    padding: 0 1rem;
    padding-top: 11px;
  }
}

.feature__list-box {
  width: 23.815741%;
}

@media (min-width: 768px) {
  .feature__list-box {
    max-height: 500px;
    height: 500px;
  }
}

@media (max-width: 767px) {
  .feature__list-box {
    width: 100%;
    margin-top: 20px;
  }
}

.feature__list-box:first-child {
  margin-top: 0;
}

@media (max-width: 767px) {
  .feature__list-box:first-child .feature__list__item-ttl {
    padding-top: 0;
    margin-bottom: 9px;
  }
}

@media (min-width: 768px) {
  .feature__list-box:first-child .feature__list__item-ttl {
    text-align: center;
  }
}

.feature__list-box:first-child .feature__list__item-txt p {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .feature__list-box:nth-child(2) .feature__list__item-ttl {
    height: calc(31px * 2);
  }
}

@media (max-width: 767px) {
  .feature__list-box:nth-child(2) .feature__list__item-ttl {
    line-height: 41px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding-top: 7px;
  }
}

@media (max-width: 767px) {
  .feature__list-box:nth-child(3) .feature__list__item-ttl {
    margin-bottom: 0px;
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .feature__list-box:nth-child(4) .feature__list__item-container {
    padding-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .feature__list-box:nth-child(4) .feature__list__item-ttl {
    height: calc(31px * 2);
  }
}

@media (max-width: 767px) {
  .feature__list-box:nth-child(4) .feature__list__item-ttl {
    line-height: 41px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding-top: 6px;
  }
}

.feature__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #fff;
}

.feature__list__item-img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.feature__list__item-img img {
  pointer-events: none;
  max-width: 100%;
}

.feature__list__item-container {
  padding: 0 23px 28px;
}

@media (max-width: 767px) {
  .feature__list__item-container {
    padding: 0 27.5px 40px;
  }
}

.feature__list__item-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  letter-spacing: 0.01em;
  line-height: 31px;
  min-height: calc(31px * 2);
  color: #FFB572;
  margin-bottom: 20px;
  padding-top: 10px;
}

.feature__list__item-txt {
  letter-spacing: .051em;
  line-height: 2.5rem;
  font-size: 14px;
}

@media (max-width: 767px) {
  .feature__list__item-txt {
    line-height: 2.14285714;
  }
}

/* mismatch
=============================================================*/
.mismatch-head {
  font-size: 26px;
  margin-top: 91px;
  background: #fff;
  text-align: center;
  line-height: 1.44117647;
  letter-spacing: 0.083em;
  padding: 11px 0;
}

.mismatch-head::before {
  content: '“';
  color: #FFB572;
}

.mismatch-head::after {
  content: '”';
  color: #FFB572;
}

.mismatch-head .en {
  color: #FFB572;
  font-size: 34px;
}

/*============================================================
# common -全体に共通するスタイル
=============================================================*/
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
