//ブレークポイント
$layout-width-inner: 1080px;
$breakpoints: (
  'sp': '(max-width: 767px)', //767px以下（スマホ）用の表示
  'sp-up': '(min-width: 375px)',//375px以上
  'sp-down': '(max-width: 374px)',//374px以下
  'tab': '(min-width: 420px)',//400px以上
  'md': '(min-width: 768px)',//767px以上
  'pc': "(min-width: #{$layout-width-inner})",//layout-width-inner以上
  );

//メディアクエリ
@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
}
