.btn {
    background: $main-color;
    font-family: $btn-font;
    width: 138px;
    height: 31px;
    line-height: 31px;
    border-radius: 41px;
    display: inline-block;
    text-align: center;
    color: #fff;
}
