.analysis__list {
    display: flex;
    justify-content: space-around;
    padding-top: 55px;

    @include mq('sp') {
        display: block;
    }
}

.analysis__list__item {
    width: 25%;
    height: 100%;

    img {
        width: 100%;
    }
}

.analysis__list__item-head {
    min-height: 155px;
}

.analysis__list__item-ttl {
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 0.90909091;
    color: $main-color;
    text-align: center;
}

.analysis__list__item-txt {
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 1.71428571;
    padding-top: 17px;
    padding-bottom: 22px;
}