.event {
    padding-top: 84px;
    
    @include mq('sp') {
        padding-top: 76px;
    }
}

.event__list {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;

    @include mq('sp') {
        display: block;
        padding: 0 1rem;
        margin-top: 38px;
    }
}

.event__item {
    width: 50%;

    @include mq('sp') {
        width: 100%;
    }

    &:first-child {
        margin-right: 40px;

        @include mq('sp') {
            margin-bottom: 31px;
        }
    }

    img {
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16); 
    }


}

 /* event__news
=============================================================*/

.event__news {
    padding-top: 61px;

    @include mq('sp') {
        padding: 0 1rem;
        padding-top: 41px;
    }
}

.event__news__item {
    display: flex;
    align-items: center;
    letter-spacing: 0.051em;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-color;
    font-size: 14px;

    @include mq('sp') {
        display: block;
        padding-bottom: 20px;
    }

    &:not(:first-child) {
        padding-top: 22px;

        @include mq('sp') {
            padding-top: 19px;
        }
    }
}

.news__item-tag {
    width: 244px;
    height: 37px;
    line-height: 37px;
    background: $main-color;
    color: #fff;
    text-align: center;
    border-radius: 16px;

    @include mq('sp') {
        margin: auto;
    }
}

.news__item-day {
    width: 16%;
    text-align: right;
    letter-spacing: 0.051em;
    line-height: 1.42857;
    margin-left: 13px;


    @include mq('sp') {
        width: 100%;
        text-align: center;
        padding-top: 24px;
    }
}

.news__item-txt {
    width: calc(100% - 244px - 16%);
    padding-left: 40    px;

    @include mq('sp') {
        width: 100%;
        padding: 0;
        padding-top: 23px;
        text-align: center;
        line-height: 1.4285;
    }
}

 /* recommend
=============================================================*/

.recommend {
    padding-top: 65px;

    @include mq('sp') {
        padding-top: 31px;
    }
}

.recommed__item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16); 
    img {
        width: 100%;
    }
}