.feature {
    position: relative;
    background: $main-color;
    padding-top: 80px;
    margin-top: 60px;

    &::before {
        position: absolute;
        content: "";
        background: url(../../img/feature-bg.png);
        width: 444px;
        height: 444px;
        top: 42%;
        right: 50%;
        transform: translateX(-512px);

        @include mq('sp') {
            background: url(../../img/feature-bg-sp.png);
            width: 216.24px;
            height: 216.24px;
            top: 0;
            right: 0;
            transform: translateX(0);
        }
    }

    @include mq('sp') {
        margin-top: 86px;
    }
    .section__ttl {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 33.055556%;

            @include mq('sp') {
                width: 218px;
            }
        }
    
        &::before , &::after {
            border-top: 1px solid #fff;
        }
    }
}

.feature__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;

    @include mq('sp') {
        display: block;
        padding: 0 1rem;
        padding-top: 11px;
    }
}

.feature__list-box {
    width: 23.815741%;

    @include mq('md') {
        max-height: 500px;
        height: 500px;
    }

    @include mq('sp') {
        width: 100%;
        margin-top: 20px;
    }

    &:first-child {
        margin-top: 0;
        .feature__list__item-ttl {

            @include mq('sp') {
                padding-top: 0;
                margin-bottom: 9px;
            }

            @include mq('md') {
                text-align: center;
            }
        }

        .feature__list__item-txt {
            p {
                padding-top: 20px;
            }
        }

    }

    &:nth-child(2) {
        .feature__list__item-ttl {

            @include mq('md') {
                height: calc(31px * 2);
            }

            @include mq('sp') {
                line-height: 41px;
                letter-spacing: 3px;
                margin-bottom: 15px;
                padding-top: 7px;
            }
        }
    }
    &:nth-child(3) {
        .feature__list__item-ttl {
            @include mq('sp') {
                margin-bottom: 0px;
                padding-top: 0px;
            }
        }
    }

    &:nth-child(4) {
        .feature__list__item-container {

            @include mq('sp') {
                padding-bottom: 35px;              
            }
        }

        .feature__list__item-ttl {

            @include mq('sp') {
                line-height: 41px;
                letter-spacing: 3px;
                margin-bottom: 15px;
                padding-top: 6px;
            }
        }
    }
}

.feature__list__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #fff;
    
}

.feature__list__item-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    img {
        pointer-events: none;
        max-width: 100%;
    }
}

.feature__list__item-container {
    padding: 0 23px 28px;
    
    @include mq('sp') {
        padding: 0 27.5px 40px;
    }
}

.feature__list__item-ttl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 0.01em;
    line-height: 31px;
    min-height: calc(31px * 2);//line-heightの２倍
    color: $service-color;
    margin-bottom: 20px;
    padding-top: 10px;
}

.feature__list__item-txt {
    letter-spacing: .051em;
    line-height: 2.5rem;
    font-size: 14px;

    @include mq('sp') {
        line-height: 2.14285714;
    }
}


 /* mismatch
=============================================================*/

.mismatch-head {
    font-size: 26px;
    margin-top: 84px;
    background: #fff;
    color: #333;
    text-align: center;
    line-height: 1.44117647;
    letter-spacing: 0.083em;
    padding: 11px 0;

    @include mq('sp') {
        font-size: 17px;
        margin-top: 80px;
        letter-spacing: 0.04em;
        line-height: 1.47058824;
        padding: 18px 0 22px;
    }

    &::before {
        content: '“';
        color: $service-color;
    }
    &::after {
        content: '”';
        color: $service-color;
    }

    .en {
        color: $service-color;
        font-size: 34px;

        @include mq('sp') {
            font-size: 22px;
        }
    }
}

.mismatch__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 41px;

    @include mq('sp') {
        display: block;
        padding: 40px 1rem 80px;
    }
}

.mismatch__item {
    position: relative;
    width: 48.1481%;
    height: 300px;
    background: #fff;
    border-radius: 40px;

    @include mq('sp') {
        width: 100%;
    }

    &:nth-child(1) {
        margin-bottom: 40px;

        @include mq('sp') {
            margin-bottom: 19px;
        }
    }
    
    &:nth-child(2) {
        margin-bottom: 40px;

        @include mq('sp') {
            margin-bottom: 19px;
        }

        .mismatch__list-child {
            margin-top: 15px;

            @include mq('sp') {
                margin-top: 11px;
            }
        }
    }
    &:nth-child(3) {
        margin-bottom: 40px;

        @include mq('sp') {
            margin-bottom: 19px;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        content: "";
        width: 93.8462%;
        height: 266px;
        border-radius: 40px;
        border: 1px solid $main-color;

        @include mq('sp') {
            width: 90.985915%;
        }
    }
    
}

.mismatch__item-box {
    position: relative;
    padding-top: 76px;
    h3 {
        font-size: 25px;
        line-height: 1.44;
        text-align: center;
        color: #fff;
        background: $service-color;
        padding-top: 5.5px;
        padding-bottom: 8.5px;
    }
}

.mismatch__list-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;

    li {
        font-size: 16px;
        line-height: 2.25;
        letter-spacing: 0.08em;

        &::before {
            content: "●";
            color: $main-color;
        }
    }
}